# Questa / ModelSim
work/
transcript
vsim.wlf
*.wlf
*.ucdb
*.acdb
*.vstf
modelsim.ini
*.log
cov.txt

# Vim / GVim
*.swp
*.swo
*.swn
*~
.viminfo

# Temporary files
*.tmp
*.bak
*.orig
*.f

# OS files
.DS_Store
Thumbs.db
